{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- main page -->
<div class="grid-container">
	<!-- form layout -->
  <div class="item2">
			<!-- profile picture-->
		<div>profile pic</div>
		</div>
  <div class="item6">

	</div>
  <div class="item5">
		<!-- username div -->
		<div>username</div>
		<!-- email -->
		<div>email</div>
		<!-- change password button div-->
		<div></div>
		<!-- new password div-->
		<div></div>
		<!-- confirm new password div-->
		<div></div>
	<!-- submit button div -->
	<div>Submit</div></div>
</div>
{% endblock %}