.availableSessions{
    max-width: 70%;
    margin: auto;
}

.event{
    padding:3%;
    background-color: #3098f8;
    border-radius: 30px;
    max-width:70%;
    min-width:780px;
    margin:5% auto;
    border: 3px solid #001e57;
}

h3{
    font-size: 36pt;
    margin:0 10%;
    text-align:center;
    color: #000000;
    padding-bottom: 10px;
    text-shadow:1px 1px #8eb5ff;
    
}

.contents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.subcontents{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.contents p{
    text-align: center;
    padding:none !important;
    margin: 10px 0;
    padding: 2% 0;
    color: #000000;
    text-shadow:1px 1px #8eb5ff;
}

.subcontents p{
    text-align: center;
    padding: 2% 0 !important;
    margin: 10px 0;
    color: #000000;
    text-shadow:1px 1px #8eb5ff;
}

input[type="submit"]{
    width:100%;
    height: 100%;
    font-size: 16pt;
    color: #000000;
    text-shadow: 1px 1px #8eb5ff;
}

input[type="submit"]:hover{
    background-color: #33b3f7;
}