
.logo{
	width: 100px;
}
/*top title*/
p.title{
	margin: 0%;	
	padding: 5px;
  text-align: center;
	font-size: 40px;
}
/*account button*/
button.current{
	background:#8671E1;
	float: right;
	padding: 14px;
	color: white;
	border-radius: 6px;
	margin: 0%;
	font-size: 14px;
	border: none;
}
.ac{
	float: right;
	padding: 14px;
	color: white;
	background:#0090c4;
	border-radius: 6px;
	margin: 0%;
	font-size: 14px;
	border: none;
	cursor: pointer;
}


a.butn{
	display: block;
  color: white;
  text-decoration: none; 
	width: 50px
}

/* top line*/
.item0{
	display: inline-block;
	text-align: center;
	border-style: solid solid none solid;
	border-color:  black;
	border-radius: 6px 6px 0 0px;
	border-width: 2px;
}

div.item1{
	background-color: #0090c4;
	text-align: center;
	margin:0;
	border-style: none solid solid solid;
	border-color:  black;
	border-radius: 0px 0px 6px 6px;
	border-width: 2px;
}
/*side bar*/
div.side{
	background: rgb(213, 233, 255);
	border-style: none solid solid none;
	border-radius: 6px 0px 6px 0px;
	background: rgb;
	height: 100%;
	border-width: 2px;
}

.grid-main > div {
	font-size: 30px;
	margin: 0;
	padding: 0;}

/*defauts for grid*/
.grid-container > div {
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 30px;
}

/*top and navigation grid*/
.grid-container-top > div {
  background-color: white;

  font-size: 30px;
	margin: 0;
	padding: 0;


}


/* default for pictures */
#photo{
	width: 100%;
	border-radius: 8px;
	padding: 15% 0;
}

/* default for pictures */
#pic1{
    width: 50%;
    border-radius: 8px;
    margin: 15% 0;
}
/* default for pictures */
#pic2{
    width: 50%;
    border-radius: 8px;
    margin: 15% 0;
}

/*footer style*/
.grid-container-bot > div {
  font-size: 20px;
	margin: 0;
	padding: 70px 5%;
	width: 100%
}

.item5{
	background: white;
	text-align: center;
	border-style: solid solid solid solid;
	border-color:  black;
	border-radius: 6px;
	border-width: 2px;
}

.ft{
	width: 100px;
}

p.heading{
	font-size: 25;
	font-weight: bold;
}

ul li.current{
	background:#350076;
	}
	
ul li:hover{
	background:#350076;
	}
	
.ac:hover{
	background:#350076;
	}


p.heading{
	padding: 6% 0 4% 0;
}


.Cl{
	background: white;
}

