/*whole site/background*/
body{
  background: rgb(181, 216, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  background-image: url(/static/img/Bubbles.png);
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}

p {
    font-size: 25px;
    width: 90%;
    color: black;
    padding: 2% 0;
}

h1{
	color: black;
	text-align: center;
}



/*Nav items*/
ul {
    padding: 0;
    list-style: none;
    font-size: 0;
}

ul li{
font-size: 20px;
display: inline-block;
background:#0090c4;
margin: 2px 2%;
border-radius: 6px;
align-content: center;
}

ul li a{  
display: block;
color: white;
text-decoration: none; 
padding: 8px 0px;
width: 200px
}

p > input {
  width: 99%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}