*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
/*whole site/background*/
body{
  background: rgb(181, 216, 255);
}
p{
	font-size: 20px;
	width: 90%;
	color: black;
}
h1{
	color: black
}
p.heading{
	font-size: 25;
	font-weight: bold;
}

/*Nav items*/
ul {
    padding: 0;
    list-style: none;
    font-size: 0;
}

ul li{
font-size: 20px;
display: inline-block;
background:#0090c4;
margin: 2px 2%;
border-radius: 6px;
align-content: center;
}

ul li.current{
background:#350076;
}

ul li:hover{
background:#350076;
}

.ac:hover{
background:#350076;
}

ul li a{  
display: block;
color: white;
text-decoration: none; 
padding: 8px 0px;
width: 200px
}