{% extends 'base.html' %}
{% load static %}
{% block style %}
	/*Page specific grid layout*/

@media only screen and (min-width: 600px) {
  /* For tablets: */
.grid-container{
display: grid;
grid-template-areas:
  'left left left left left left'
	'right right right right right right'
  'footer footer footer footer footer footer';
}}
@media only screen and (min-width: 900px) {
/* For desktop: */
.grid-container{
	display: grid;
	grid-template-areas:
    'left left left right right right'
    'footer footer footer footer footer footer';}
{% endblock %}
{% block body %}
<!-- main page -->
<div>
	<div class="grid-container">
		<div class="item2">
			<img src="/static/img/HMab.png" id="pic1">
		</div>
		<div class="item4">
			<h1>Hannah Miley</h1>
			<p>Having spent most of her life in water waiting to grow either gills or a fish tail, she’s starting to find her feet on land. Whilst mortgages and working out taxes may still be a mystery to her she has a good passion for working with  people, inspiring and working with those who are determined to reach a goal, no matter the challenges they face. 
			</p>
			
			
		</div>
	</div>

	<div>
		<div class="grid-container">
			<div class="item2">
				<img src="/static/img/HMWater.png" id="pic1">
			</div>
			<div class="item4">
				<p class="heading">
					Early Career
				</p>
				<p>
					Thinking outside the box is a common trait she has, whilst many might view this as a quirky personality trait this has been an integral part to her work ethic and way of being. Being skilled in the water is one aspect but she aspires to keep the out the box thinking and is qualified as a pilates teacher with the hopes of bringing this form of exercise to water, along with being an Emmett Therapist (working with animals to better understand working with people :wink: ).
				</p>
			</div>
		</div>
	</div>

	<div class="Cl">
		<div class="grid-container">
			<div class="item2">
				<img src="/static/img/HMoutside.jpg" id="pic2">
			</div>
			<div class="item4">
				<p class="heading">
					Early Career
				</p>
				<p>
					The life of an elite athlete in the world of swimming has many highs and many lows, whilst being an unforgiving sport in many ways, she has learnt to deal with anything that the sport throws at her. From standing behind a starting block at the age of 7 balling her eyes out because her goggles snapped to standing behind a similar starting block at an Olympic games ready to take on the world. 
				</p>
			</div>
		</div>
	</div>
</div>	

</div></div>
{% endblock %}
