{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/f00aff5875.js" crossorigin="anonymous"></script>
    <title>{% block pagetitle %}{% endblock %}</title>
	
	<link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/grid.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/topL.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script
			  src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			  crossorigin="anonymous"></script>
<style>
{% block style %}{% endblock %}
</style>
</head>

<body>
<div class="grid-main">
  <div class="item8"></div>
    <!-- top and navigation -->
    <div class="grid-container-top">
      <!-- top -->
      <div class="item0">
      
        {% if user.is_authenticated %}
          <button class="ac"><a class="butn" href="{% url 'Core:Accounts:logout'%}">Log Out</a></button>
          <button class="ac"><a class="butn" href="{% url 'Core:Accounts:view'%}">Account</a></button>
        {% else %}
            <button class="ac"><a class="butn" href="{% url 'Core:Accounts:login'%}">Log In</a></button>
        {% endif %}
          <img class="logo" src={% static "/img/HM.png" %}>
        {% if user.is_admin %}
        <button class="ac"><a class="butn" href="{% url 'Core:admin'%}">Admin</a></button>
        {% endif %}
          
      </div>
      <!-- navigation -->
      <div class="item1">
        <nav>
          <ul class="navbar-nav">
            <li>
              <a  href="{% url 'Core:index' %}">Home</a>
            </li>
            <li >
              <a  href="{% url 'Core:about' %}">About</a>
            </li>
            <li >
              <a  href="{% url 'Core:contact'%}">Contact</a>
            </li>
            <li >
              <a  href="{% url 'Core:Calendar:session'%}">Sessions</a>
            </li>
            <li >
              <a  href="{% url 'Core:Calendar:calendar'%}">My Calendar</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>  
  <div class="item7">
    <!-- main page -->
    {% block body%}{% endblock %}
  </div>
  <div class="item5">
    <div class="grid-container-bot">
      
      <div class="logo">
        <img class="ft" src={% static "/img/HM.png" %}>
      </div>
      <div class="des"><a>website for the swimmer Hannah Milley</a></div>
      <div class="link"><a>Links </a>
        <li><a href="#"><i class="fab fa-twitter" style="font-size:30px;color:#0090c4"></i></a>
        <a href="#"><i class="fab fa-instagram" style="font-size:30px;color:#0090c4"></i></a></li>
      </div>
      
    </div>
  </div>
</div>
</body>
</html>

