{% extends 'base.html' %}
{% load static %}
{% block body %}

<script src = "{% static 'js/calendar.js' %}"></script>
<link href = "{% static 'css/calendar.css'%}" type = "text/css" rel = "stylesheet" media = "screen, projection"/>

<div id = "app-calendar">
    <div id = "heading"></div>
    <div class = "controlButtons">
        <div class="topControls">
            <div id = "previous" class = "button">
                Previous
            </div>
            <div id = "next" class = "button">
                Next 
            </div>
        </div>
    </div>
    <div class = "calendarHeadings">
        <div class = "calendarDateDay">
            Sunday
        </div>
        <div class = "calendarDateDay">
            Monday
        </div>
        <div class = "calendarDateDay">
            Tuesday
        </div>
        <div class = "calendarDateDay">
            Wednesday
        </div>
        <div class = "calendarDateDay">
            Thursday
        </div>
        <div class = "calendarDateDay">
            Friday
        </div>
        <div class = "calendarDateDay">
            Saturday
        </div>
    </div>
    <div class = "calendarDates">
        
    </div>
</div>
<script>
$(document).ready(function(){

    currentMonth = document.getElementById("heading").textContent.split(" ")[0];

    function monthNo(x){
        var months = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"];
        return $.inArray(x, months)
    }
    
    var d = new Date();
    var month = d.getMonth();
    var year = d.getYear() + 1900;

    console.log(month, year)
    var data = JSON.parse("{{events|escapejs}}");
    
});
    
</script>
<div id="testing xd">

</div>
<div id="test2">

</div>


{% endblock %}