{% extends 'base.html' %}
{% load static %}
{% block body %}

<script src = "{% static 'js/calendar.js' %}"></script>
<link href = "{% static 'css/calendar.css'%}" type = "text/css" rel = "stylesheet" media = "screen, projection"/>

<div id = "app-calendar">
    <div id = "heading"></div>
    <div class = "controlButtons">
        <div class="topControls">
            <div id = "previous" class = "button">
                Previous
            </div>
            <div id = "next" class = "button">
                Next 
            </div>
        </div>
    </div>
    <div class = "calendarHeadings">
        <div class = "calendarDateDay">
            Sunday
        </div>
        <div class = "calendarDateDay">
            Monday
        </div>
        <div class = "calendarDateDay">
            Tuesday
        </div>
        <div class = "calendarDateDay">
            Wednesday
        </div>
        <div class = "calendarDateDay">
            Thursday
        </div>
        <div class = "calendarDateDay">
            Friday
        </div>
        <div class = "calendarDateDay">
            Saturday
        </div>
    </div>
    <div class = "calendarDates">
        
    </div>
</div>

<div id="testing xd">
    {% for event in events %}
    <p>{{event.eventName}}</p>
{% endfor %}
</div>


{% endblock %}