{% extends 'base.html' %}
{% load static %}
{% block style %}
	/*Page specific grid layout*/

@media only screen and (min-width: 600px) {
  /* For tablets: */
.grid-container{
display: grid;
grid-template-areas:
  'left left left left left left'
	'right right right right right right';
}}
@media only screen and (min-width: 900px) {
/* For desktop: */
.grid-container{
	display: grid;
	grid-template-areas:
    'left left left right right right'
    'footer footer footer footer footer footer';}}{% endblock %}
{% block body %}
<div style="
    padding-top: 73px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 73px;
		"
>
<!-- main page -->
<div class="grid-container">
  <div class="item2">
		<img src="{% static 'img/HMHome.png' %}"/ id="photo">
	</div>
  <div class="item4" 
	style="padding-left: 30px;"
>
		<h1>Hannah Miley</h1>
		<p>Scottish swimmer Hannah Miley has over a decade of international experience and has risen to one of Scotland’s best ever female swimmers. Standing at just 5 foot 4 inches tall, the Scot comes alive when she hits the water.
		</p>
		<p>
		For Miley, swimming is a family affair. She has only ever had one coach at Garioch Swimming Club, her dad, Patrick. He taught her her first stroke and she credits him as her inspiration to swim. She runs 3 miles to the pool each morning to train with her two younger brothers under their dad’s guidance. Miley said if she wasn’t a swimmer she would want to be a dancer.
		</p>

	</div>
</div>
</div>
{% endblock %}
