{% extends 'base.html' %}
{% load static %}
{% block body %}

<script src = "{% static 'js/session.js' %}"></script>

<div class = "app-sessions">
    <h1>
        Available Sessions
    </h1>

    {% if user.is_staff %}
    <script src = "{% static 'js/createsession.js' %}"></script>
    <link href = "{% static 'css/createsession.css'%}" type = "text/css" rel = "stylesheet" media = "screen, projection"/>

    <div class = "createSessions">
        <button type = "button"> Create Session </button>
    </div>

    <div class = sessionContainer>
        <form method = "POST">
             {% csrf_token %}
            {{ form.as_p }}
            <input type = "submit" name = "create" value = "create"/>
        </form>
    </div>
    {% endif %}

    <div class = "avilableSessions">
        {% for event in events %}
            <div class = "event">
                <h3>{{ event.eventName }}</h3>
                <div class = "contents">
                    <h4>{{event.eventDate|date:"d/m/Y"}}</h4>
                    <p>{{event.eventStart|date:"G:i"}} - {{event.eventEnd|date:"G:i"}}</p>
                    <form method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <input type="hidden" name="bookingUser" value="{{user.id}}"/>
                        <input type="hidden" name="bookingEventID" value="{{event.id}}"/>
                        <input type="submit" name="join" value="Join Class"/>
                        {% else %}
                        <p>To join a session, please Register!</p>
                        {% endif %}
                    </form>
                </div>
                <div class = "subcontents">
                    <p>
                        Capacity: {{event.eventCapacity}}
                    </p>
                    <p>
                        Price: £{{event.eventCost}}
                    </p>
                    <p>
                        {{event.eventDescription}}
                    </p>
                </div>
            </div>
            
        {% endfor %}
    </div>
</div>

{% endblock %}