{% extends 'base.html' %}
{% load static %}
{% block body %}

<script src = "{% static 'js/session.js' %}"></script>
<link href = "{% static 'css/session.css'%}" type = "text/css" rel = "stylesheet" media = "screen, projection"/>

<div class = "app-sessions">
    <h1>
        Available Sessions
    </h1>

    {% if user.is_staff %}
    <script src = "{% static 'js/createsession.js' %}"></script>
    <link href = "{% static 'css/createsession.css'%}" type = "text/css" rel = "stylesheet" media = "screen, projection"/>

    <div class = "createSessions">
        <button type = "button"> Create Session </button>
    </div>

    <div class = sessionContainer>
        <form method = "POST">
             {% csrf_token %}
            {{ form.as_p }}
            <input type = "submit" name = "create" value = "Create"/>
        </form>
    </div>
    {% endif %}

    <div class = "avilableSessions">
        {% for event in events %}
            <div class = "event">
                <div class = heading>
                    <h3>{{ event.eventName }}</h3>
                </div>
                <div class = "contents">
                    <p>
                        <b>Date</b><br>
                        {{event.eventDate|date:"d/m/Y"}}
                    </p>
                    <p>
                        <b>Time</b><br>
                        {{event.eventStart|date:"G:i"}} - {{event.eventEnd|date:"G:i"}}
                    </p>
                    <p>
                        <b>Location</b><br>
                        {{event.eventLocation}}
                    </p>
                    <form method="POST">
                        {% if user.is_authenticated %}
                        <input type="hidden" name="bookingUser" value="{{user.id}}"/>
                        <input type="hidden" name="bookingEventID" value="{{event.id}}"/>
                        <input type="submit" name="join" value="Join Class"/>
                        {% else %}
                        <p><b>To join a session, please Register!</b></p>
                        {% endif %}
                    </form>
                </div>
                <div class = "subcontents">
                    <p>
                        <b>Capacity: </b>{{event.eventCapacity}}<br>
                        <b>Price:</b> £{{event.eventCost|floatformat:2}}
                    </p>
                    <p>
                        <b>Description</b><br>
                        {{event.eventDescription}}
                    </p>
                </div>
            </div>
            
        {% endfor %}
    </div>
</div>

{% endblock %}